.header-container {
  width: 100vw;
  height: 100vh;
  background-color: #1a1e23;
  opacity: 1;
  background-image: linear-gradient(
      30deg,
      #292f36 12%,
      transparent 12.5%,
      transparent 87%,
      #292f36 87.5%,
      #292f36
    ),
    linear-gradient(
      150deg,
      #292f36 12%,
      transparent 12.5%,
      transparent 87%,
      #292f36 87.5%,
      #292f36
    ),
    linear-gradient(
      30deg,
      #292f36 12%,
      transparent 12.5%,
      transparent 87%,
      #292f36 87.5%,
      #292f36
    ),
    linear-gradient(
      150deg,
      #292f36 12%,
      transparent 12.5%,
      transparent 87%,
      #292f36 87.5%,
      #292f36
    ),
    linear-gradient(
      60deg,
      #292f3677 25%,
      transparent 25.5%,
      transparent 75%,
      #292f3677 75%,
      #292f3677
    ),
    linear-gradient(
      60deg,
      #292f3677 25%,
      transparent 25.5%,
      transparent 75%,
      #292f3677 75%,
      #292f3677
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-block: 20px;
  width: 100%;
}

.intro p {
  max-width: 40vw;
}

.intro span {
  background: -webkit-linear-gradient(mediumspringgreen, rgb(237, 255, 104));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.header ul {
  display: grid;
  gap: 5px;
  list-style: none;
  background-color: var(--bgcolor2);
  padding-block: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: mediumspringgreen;
}

.lets-talk {
  cursor: pointer;
  width: 20%;
  transition: color 100ms;
}

.lets-talk:hover {
  color: rgba(0, 250, 154, 0.5);
}
