.skills-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.851), rgba(0, 0, 0, 0.5)),
    url("/public/code.png");
  background-size: cover;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.skills-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--bgcolor2);
  padding-block: 20px;
  padding-inline: 30px;
  border-radius: 20px;
}

.skills-header h1 {
  color: mediumspringgreen;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.languages h3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
  padding: 10px 20px;
  border-radius: 20px;
  height: 100px;
  width: 100px;
}
